<!-- templates/layout/navbar.html.twig -->

<header class="navbar mb-auto container-fluid">
  <div class="container">
    <h3 class="float-md-start mb-0 text-white">SPOTEVENTS</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
      <a class="nav-link" href="{{ path('app_event') }}">Events</a>
      <a class="nav-link" href="{{ path('app_blog') }}">Blog</a>
      <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
      {% if is_granted('ROLE_ADMIN') %}
    <a class="nav-link" href="{{ path('admin_events') }}">Admin Events</a>
{% endif %}
    </nav>
  </div>
</header>
