<header class="navbar mb-auto container-fluid">
  <div class="container">
    <h3 class="float-md-start mb-0 text-white">SPOTEVENTS</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
      <a class="nav-link" href="{{ path('app_event') }}">Events</a>
      <a class="nav-link" href="{{ path('app_blog') }}">Blog</a>
      <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
      {% if app.user %}
        <div class="dropdown">
          <button class="btn nav-link dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            {{ app.user.email }} <i class="bi bi-caret-down"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            {% if is_granted('ROLE_ADMIN') %}
              <li><a class="dropdown-item" href="{{ path('admin_events') }}">Admin Events</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
          </ul>
        </div>
      {% else %}
      <a class="btn btn-outline-primary btn-conn" href="{{ path('app_login') }}">Connexion</a>

      {% endif %}
    </nav>
  </div>
</header>
